/* Cosmetics styles */
body {
  margin: 0.5em;
  background: lightgrey;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 15%;
  position: relative;
  margin: 0.5em;
  padding: 2em;
  min-height: 4em;
  width: 23%;
  background: white;
  border: 3px solid grey;
}

.active {
  border-color: orangered;
}

